/* Темная тема */
[data-theme="dark"] {
  --bg-color: #000028;
  --text-color: #f1b2ce;
  --subtitle-color: #000028;
  --heading-text: #db00ff;
  --accent-color: #ff0070;
  --border-color: #ff0070;
  --border-bottom: #f1b2ce;
  --section-title-color: #ff0070;
  --bg-image: url(../images/cover-image-dark.png);
  --secondary-color: #ff007040;
}

[data-theme="dark"] .hero__title {
  color: var(--heading-text);
  text-shadow: 4px 4px 0 var(--accent-color);
}

[data-theme="dark"] .footer__text {
  color: var(--heading-text);
  text-shadow: 2px 2px 0 var(--accent-color);
}

[data-theme="dark"] .content__link {
  text-shadow: 2px 2px var(--accent-color);
}

[data-theme="dark"] .content__link:hover {
  border-bottom: 1px solid var(--text-color);
}

[data-theme="dark"] .header__theme-menu-button {
  color: var(--text-color);
  border-color: transparent;
}

[data-theme="dark"] .header__theme-menu-button:hover {
  border-color: var(--secondary-color);
}

[data-theme="dark"] .header__theme-menu-button_active {
  border-color: var(--text-color);
  pointer-events: none;
}