:root {
  --bg-color: #000028;
  --text-color: #f1b2ce;
  --subtitle-color: #000028;
  --heading-text: #db00ff;
  --accent-color: #ff0070;
  --border-color: #ff0070;
  --border-bottom: #f1b2ce;
  --section-title-color: #ff0070;
  --bg-image: url(../images/cover-image-dark.png);
  --secondary-color: #ff007040;
}
