
.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --accent-color: #ff8dcb;
  --bg-color: #fff1f7;
  --subtitle-color: #353430;
  --text-color: #353430;
  --section-title-color: #353430;
  --article-title-color: #353430;
  --border-color: #353430;
  --border-bottom: #353430;
  --section-article-text: #353430;
  --heading-text: #ffc2e6;
  --bg-image: url(../images/cover-image-light.png);
  --secondary-color: var(--color-black, #35343040);
}

/* на самом элементе .page явно применяем фон (высший приоритет) */
.page.theme_light {
  background-image: var(--bg-image);
  background-color: var(--bg-color);
}

/* контролируем видимость декора для светлой темы */
.page.theme_light .decor {
  display: none;
}

@media (min-width: 320px) and (max-width: 768px) {
  .page.theme_light .header__title {
    color: var(--heading-text);
    text-shadow: 4px 4px 0px var(--accent-color);
  }

  .page.theme_light .footer__title {
    color: var(--heading-text);
    text-shadow: 2px 2px 0px var(--accent-color);
  }
}
