
.page {
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: var(--font-family);
  font-size: 18px;
  line-height: 1.3;
  transition: 0.3s ease;
  min-height: 100vh;
}


.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  padding: 20px;
  min-height: 100vh;
  margin-bottom: 60px;
  position: relative;
}

.theme-menu {
  justify-self: center;
}

.theme-menu__list {
  display: flex;
  gap: 12px;
}

.theme-menu__btn {
  padding: 4px 14px;
  font-size: 18px;
  background: transparent;
  border: 1px solid transparent;
  text-transform: lowercase;
  color: var(--text-color);
  cursor: pointer;
  transition: 0.3s;
}

.theme-menu__btn:hover {
  border-color: var(--secondary-color);
}

.theme-menu__btn_active {
  border-color: var(--text-color);
  pointer-events: none;
}

.header__title {
  font-size: clamp(7.5rem, 1rem + 14vw, 9.8rem);
  color: var(--heading-text);
  text-shadow: 4px 4px 0 var(--accent-color);
  font-weight: 700;
  margin-left: -1.5%;
}

.header__subtitle {
  align-self: center;
  justify-self: end;
  max-width: 50%;
  font-weight: 700;
}


.decor-label {
  position: absolute;
  right: 20px;
  top: 20px;
  color: var(--accent-color);
  background: var(--subtitle-color);
  padding: 3px 6px;
  font-size: 14px;
  font-weight: 700;
}


.main {
  padding: 0 20px;
  display: grid;
  gap: 60px;
}

.section {
  display: grid;
  gap: 20px;
}

.section__title {
  color: var(--section-title-color);
  font-weight: 700;
  font-size: 18px;
}

.article-grid {
  display: grid;
  gap: 20px;
}

.article-title {
  background: var(--accent-color);
  color: var(--subtitle-color);
  padding: 2px 4px;
  font-size: 18px;
  font-weight: 700;
}

.article-text {
  font-size: 18px;
  color: var(--text-color);
}

.link {
  text-decoration: none;
  text-shadow: 2px 2px var(--accent-color);
}

.link:hover {
  border-bottom: 1px solid var(--text-color);
}

/* Секция с колонками */
.columns {
  display: grid;
  grid-template-columns: minmax(220px, 1fr) 2fr;
  gap: 20px;
}

.columns--single {
  grid-template-columns: 1fr;
}


.gallery {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}

.gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery img:first-child,
.gallery img:last-child {
  grid-column: span 2;
}

.gallery img:nth-child(2),
.gallery img:nth-child(3) {
  grid-row: span 2;
}

.footer {
  height: 100vh;
  min-height: 500px;
  padding: 20px;
  display: grid;
  place-items: center;
  margin-top: 60px;
}

.footer__title {
  font-size: clamp(7.5rem, 1rem + 14vw, 9.8rem);
  color: var(--heading-text);
  text-shadow: 2px 2px 0 var(--accent-color);
  font-weight: 700;
}


@media (max-width: 768px) {
  .main {
    padding: 0 12px;
  }

  .header {
    padding: 10px;
    margin-bottom: 40px;
  }

  .theme-menu__list {
    flex-direction: column;
    align-items: flex-end;
    gap: 8px;
  }

  .header__subtitle {
    max-width: 100%;
  }

  .columns {
    grid-template-columns: 1fr;
  }

  .gallery {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .footer__title {
    font-size: clamp(7rem, 6rem + 2vw, 7.5rem);
  }
}

@media (max-width: 480px) {
  .header__title {
    margin-left: 0;
  }
}

