
.page {
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: var(--font-family);
  font-size: 18px;
  line-height: 1.3;
  transition: 0.3s ease;
  min-height: 100vh;
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  padding: 20px;
  min-height: 100vh;
  margin-bottom: 60px;
  position: relative;
}

.rec__indicator {
  position: absolute;
  top: 20px;
  right: 20px;
  color: var(--accent-color);
  background: var(--subtitle-color);
  padding: 3px 6px;
  font-size: 14px;
  font-weight: 700;
  z-index: 10;
}

.header__theme-menu {
  justify-self: center;
  display: flex;
  gap: 12px;
  margin-bottom: 20px;
}

.header__theme-menu-button {
  padding: 4px 14px;
  font-size: 18px;
  background: transparent;
  border: 1px solid transparent;
  text-transform: lowercase;
  color: var(--text-color);
  cursor: pointer;
  transition: 0.3s;
}

.header__theme-menu-button:hover {
  border-color: var(--secondary-color);
}

.header__theme-menu-button_active {
  border-color: var(--text-color);
  pointer-events: none;
}

.hero__text {
  font-size: clamp(7.5rem, 1rem + 14vw, 9.8rem);
  color: var(--heading-text);
  text-shadow: 4px 4px 0 var(--accent-color);
  font-weight: 700;
  margin-left: -1.5%;
  line-height: 1;
}

.hero__title {
  font-size: clamp(7.5rem, 1rem + 14vw, 9.8rem);
  color: var(--heading-text);
  text-shadow: 4px 4px 0 var(--accent-color);
  font-weight: 700;
  margin-left: -1.5%;
  line-height: 1;
}

.content {
  padding: 0 20px;
  display: grid;
  gap: 60px;
}

.content__section {
  display: grid;
  gap: 20px;
}

.content__section-heading {
  color: var(--section-title-color);
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 10px;
}

.content__section-item {
  display: grid;
  gap: 10px;
}

.content__section-title {
  background: var(--accent-color);
  color: var(--subtitle-color);
  padding: 2px 4px;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 5px;
}

.content__section-text {
  font-size: 18px;
  color: var(--text-color);
  line-height: 1.4;
}

.content__link {
  text-decoration: none;
  text-shadow: 2px 2px var(--accent-color);
  color: var(--text-color);
  transition: 0.3s;
}

.content__link:hover {
  border-bottom: 1px solid var(--text-color);
}

.gallery {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}

.gallery__heading {
  color: var(--section-title-color);
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 10px;
}

.gallery__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.gallery__item {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.gallery__item:first-child,
.gallery__item:last-child {
  grid-column: span 2;
}

.gallery__item:nth-child(2),
.gallery__item:nth-child(3) {
  grid-row: span 2;
}

.footer {
  height: 100vh;
  min-height: 500px;
  padding: 20px;
  display: grid;
  place-items: center;
  margin-top: 60px;
}

.footer__text {
  font-size: clamp(7.5rem, 1rem + 14vw, 9.8rem);
  color: var(--heading-text);
  text-shadow: 2px 2px 0 var(--accent-color);
  font-weight: 700;
  line-height: 1;
}

/* Адаптивность */

@media (max-width: 1024px) {
  .content {
    padding: 0 12px;
  }

  .header {
    padding: 10px;
    margin-bottom: 40px;
  }

  .header__theme-menu {
    flex-direction: column;
    align-items: flex-end;
    gap: 8px;
  }

  .hero__title {
    margin-left: 0;
  }

  .content__section-heading {
    font-size: 16px;
  }

  .content__section-title {
    font-size: 16px;
  }

  .content__section-text {
    font-size: 16px;
  }

  .gallery__heading {
    font-size: 16px;
  }

  .gallery__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .gallery__item:first-child,
  .gallery__item:last-child {
    grid-column: span 1;
  }

  .gallery__item:nth-child(2),
  .gallery__item:nth-child(3) {
    grid-row: span 1;
  }
}

@media (max-width: 768px) {
  .content {
    padding: 0 12px;
  }

  .header {
    padding: 10px;
    margin-bottom: 40px;
  }

  .header__theme-menu {
    flex-direction: column;
    align-items: flex-end;
    gap: 8px;
  }

  .hero__title {
    margin-left: 0;
  }

  .content__section-heading {
    font-size: 16px;
  }

  .content__section-title {
    font-size: 16px;
  }

  .content__section-text {
    font-size: 16px;
  }

  .gallery__heading {
    font-size: 16px;
  }

  .gallery__grid {
    grid-template-columns: 1fr;
  }

  .gallery__item {
    grid-column: span 1;
    grid-row: span 1;
  }
}

@media (max-width: 480px) {
  .header__title {
    margin-left: 0;
  }

  .hero__text {
    font-size: clamp(7rem, 6rem + 2vw, 7.5rem);
  }

  .hero__title {
    font-size: clamp(7rem, 6rem + 2vw, 7.5rem);
  }

  .footer__text {
    font-size: clamp(7rem, 6rem + 2vw, 7.5rem);
  }

  .content__section-heading {
    font-size: 14px;
  }

  .content__section-title {
    font-size: 14px;
  }

  .content__section-text {
    font-size: 14px;
  }

  .gallery__heading {
    font-size: 14px;
  }
}

