:root {
  --font-family: "IBM Plex Mono", monospace;
  --heading-text: #ffc2e6;
  --accent-color: #ff8dcb;
  --border-color: #353430;
  --border-bottom: #353430;
  --text-color: #353430;
  --bg-color: #fff1f7;
  --subtitle-color: #353430;
  --bg-image: url(../images/cover-image-light.png);
  --secondary-color: #35343040;
  --section-title-color: #353430;
}