:root {
  --font-family: "IBM Plex Mono", monospace;
  --heading-text: #DB00FF;
  --accent-color: #FF0070;
  --text-color: #F1B2CE;
  --bg-color: #000028;
  --subtitle-color: #000028;
  --section-title-color: #FF0070;
  --menu-color: #FF0070;
  --menu-hover-color: rgba(255, 0, 112, 0.40);
  --border-color: #FF0070;
  --bg-image: url(../images/cover-image-dark.png);
}

/* Светлая тема */
[data-theme="light"] {
  --heading-text: #FFC2E6;
  --accent-color: #FF8DCB;
  --text-color: #353430;
  --bg-color: #FFF1F7;
  --subtitle-color: #353430;
  --section-title-color: #353430;
  --menu-color: #353430;
  --menu-hover-color: rgba(50, 49, 45, 0.40);
  --border-color: #353430;
  --bg-image: url(../images/cover-image-light.png);
}