:root {
  --font-family: "IBM Plex Mono", monospace;
  --heading-text: #DB00FF;
  --accent-color: #FF0070;
  --text-color: #F1B2CE;
  --bg-color: #000028;
  --subtitle-color: #000028;
  --section-title-color: #FF0070;
  --menu-color: #FF0070;
  --menu-hover-color: rgba(255, 0, 112, 0.40);
  --border-color: #FF0070;
  --bg-image: url(../images/cover-image-dark.png);
}