
:root {
  --font-family: "IBM Plex Mono", monospace;
  --heading-text: #ffc2e6;
  --accent-color: #ff8dcb;
  --border-color: #353430;
  --border-bottom: #353430;
  --text-color: #353430;
  --bg-color: #fff1f7;
  --subtitle-color: #353430;
  --bg-image: url(../images/cover-image-light.png);
  --secondary-color: var(--color-black, #35343040);
  --main-text-color: #353430;
  --article-title-color: var(--main-text-color);
  --section-title-color: var(--main-text-color);
  --link-shadow: var(--title-color);
  /* если --background-color не задана, используем fallback */
  --rec-color: var(--background-color, transparent);
}

/* по умолчанию декор скрыт (при необходимости темы раскроют его) */
.decor {
  display: none;
}
